/* GENERELT */
html, body {
  height: 100%;
  text-align: center;
}

h1 {
  color: black;
  text-shadow:
    -2px -2px 0 lightgrey,
    2px -2px 0 lightgrey,
    -2px 2px 0 lightgrey,
    2px 2px 0 lightgrey;
}

h3 {
  color: black;
  text-shadow:
    -1px -1px 0 lightgrey,
    1px -1px 0 lightgrey,
    -1px 1px 0 lightgrey,
    1px 1px 0 lightgrey;
}

h5 {
  color: #fec97b;
}

p {
  color: #fec97b;
}

.navbar-collapse {
  justify-content: center;
}

.navbar-collapse {
  text-align: left;
}

/* FORSIDE */
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("../Lignum/bilder/forside.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-info{
  background-color: rgba(255, 255, 255, .8) !important;
}

/* KONTAKT */
.kontakt {
  background-color: #2f3652;
}

.kontaktTittel {
  color: #fec97b;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.logoBilde {
  width: 90%;
}

.btn-light, .btn-light-focus .btn-light:active, .btn-light:visited {
  background-color: #fec97b !important;
  border-color: black !important;
  color: black !important;
}

.btn-light:hover {
  background-color: #ffefa0 !important;
}

/* OM OSS */
.omOss {
  background-color: #fec97b;
}

.omOssTittel {
  color: #2f3652;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.omOssParagraf {
  color: #2f3652;
}

/* PROSJEKTER */
.prosjekter {
  background-color: #2f3652;
  height: auto;
  width: 100%;
  padding: 6% 12% 0% 12%;
}

.bg-primary {
  background-color: #272d42 !important;
  border-color: #272d42 !important;
}

.carousel, .item, .active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}
